.board {
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(4, 60px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 300px;
  height: 300px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.tile {
  background-color: green;
  min-height: 60px;
  min-width: 60px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testState {
  width: 40px;
  height: 40px;
  background-color: green;
  text-align: center;
  font-weight: 20px;
}
