.App {
  margin: 30px;
  width: 500px;
}

.myModal {
  background-color:rgba(255, 255, 255, 0.75);
  margin: 0px;
  z-index: 1000;
  position: absolute;
  width: 400px;
  height: 490px;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-content: center;
}

.endGame {
  opacity: 100%;
  background-color: white;
}

.gamebox {
  background-color: #776e65;
  width: 400px;
  padding: 10px;
  border-radius: 3px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: 10px;
}
.game-title {
  line-height: 60px;
  font-size: 50px;
  background-color: #eee4da;
  border-radius: 3px;
}
.header button {
  height: 60px;
  background-color: #f2b179;
  border-style: solid;
  border-color: #f2b179;
  border-radius: 3px;
}
.score {
  background-color: #bbada0;
  border-radius: 3px;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
}

.board {
  background-color: #776e65;;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 3px;
}

.tile {
  background-color: #bbada0;
  min-height: 40px;
  min-width: 40px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border-color: black;
}

.testState {
  width: 40px;
  height: 40px;
  background-color: green;
  text-align: center;
  font-weight: 20px;
}

.zero {
  /* color: #776e65; */
  color: #bbada0;
  background-color: #bbada0;
}
.two {
  background-color:#eee4da;
}
.four {
  background-color: #ede0c8;
}
.eight {
  color: #f9f6f2;
  background-color: #f2b179;
}
.sixteen {
  color: #f9f6f2;
  background-color: #f59563; 
}
.thirtytwo {
  color: #f9f6f2;
  background: #f67c5f;
}
.sixtyfour {
  color: #f9f6f2;
  background: #f65e3b; 
}
.onetwentyeight {
  color: #f9f6f2;
  background: #edcf72
  /* change font-size; */
}
.twofiftysix {
  color: #f9f6f2;
  background: #edcc61;
  /* change font size  */
}
.fivetwelve {
  color: #f9f6f2;
  background: #edc850;
  /* change font size  */
}
.tentwentyfour {
  color: #f9f6f2;
  background: #edc53f;
  /* font size */
}
.twentyfortyeight {
  color: #f9f6f2;
  background: #edc22e;
  /* font size */
}