.board {
  background-color: #776e65;;
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(4, 120px);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 600px;
  height: 600px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 3px;
}

.tile {
  background-color: #bbada0;
  min-height: 60px;
  min-width: 60px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.testState {
  width: 40px;
  height: 40px;
  background-color: green;
  text-align: center;
  font-weight: 20px;
}

.zero {
  /* color: #776e65; */
  color: #bbada0;
  background-color: #bbada0;
}
.two {
  background-color:#eee4da;
}
.four {
  background-color: #ede0c8;
}
.eight {
  color: #f9f6f2;
  background-color: #f2b179;
}
.sixteen {
  color: #f9f6f2;
  background-color: #f59563; 
}
.thirtytwo {
  color: #f9f6f2;
  background: #f67c5f;
}
.sixtyfour {
  color: #f9f6f2;
  background: #f65e3b; 
}
.onetwentyeight {
  color: #f9f6f2;
  background: #edcf72
  /* change font-size; */
}
.twofiftysix {
  color: #f9f6f2;
  background: #edcc61;
  /* change font size  */
}
.fivetwelve {
  color: #f9f6f2;
  background: #edc850;
  /* change font size  */
}
.tentwentyfour {
  color: #f9f6f2;
  background: #edc53f;
  /* font size */
}
.twentyfortyeight {
  color: #f9f6f2;
  background: #edc22e;
  /* font size */
}